@font-face {
    font-family: '';
    src: url('HiraKakuStdN-W8-AlphaNum.woff2') format('woff2'),
        url('HiraKakuStdN-W8-AlphaNum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

